<script src="submit-request.component.ts"></script>
<div nz-row class="header-menu">
  <nz-col nzOffset="2" nzSpan="20" style="padding-top: 20px">
    <h4 nz-typography>Заполните форму чтобы преобрести продукт</h4>
  </nz-col>
</div>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <div class="inner-content">
    <nz-form-item class="none-width">
      <nz-form-label [nzSm]="4" nzFor="phoneNumber" nzRequired>Данные</nz-form-label>
      <nz-form-control
        [nzSm]="12"
        [nzValidateStatus]="validateForm.controls['phoneNumber']"
        nzErrorTip="Введите email!"
      >
        <nz-input-group nzCompact>
          <input type="email" nz-input formControlName="email" id="email" placeholder="Email"/>
        </nz-input-group>
        <nz-input-group nzCompact>
          <input nz-input formControlName="products" id="products" placeholder="Product"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item class="none-width">

      <nz-form-label [nzSm]="4" nzFor="name" nzRequired>
        <span>Введите ваше ФИО</span>
      </nz-form-label>

      <nz-form-control
        [nzSm]="12"
        [nzValidateStatus]="validateForm.controls['surname']"
        nzErrorTip="Введите ваше фио!"
      >
        <nz-input-group nzCompact>
          <input style="width: 33.33%" nz-input id="name" formControlName="name" placeholder="Имя"/>

          <input style="width: 33.33%" nz-input id="surname" formControlName="surname"
                 placeholder="Фамилия"/>

          <input style="width: 33.33%" nz-input id="patronymic" formControlName="patronymic"
                 placeholder="Отчество"/>

        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-row class="header-menu">
      <nz-col nzOffset="18" nzSpan="3" style="width: 100%">
        <nz-spin [nzSize]="'small'" [nzSpinning]="isLoader">
          <button nz-button class="mobile-position" nzType="primary">Отправить</button>
        </nz-spin>
      </nz-col>
    </nz-row>

  </div>
</form>
